<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.haugland.cbtab" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="at.haugland.cbtab.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="at.haugland.cbtab.MenuActivity"
            android:label="@string/title_activity_menu"
            android:parentActivityName="at.haugland.cbtab.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.haugland.cbtab.MainActivity" />
        </activity>
        <activity
            android:name="at.haugland.cbtab.CartActivity"
            android:label="@string/title_activity_cart"
            android:parentActivityName="at.haugland.cbtab.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.haugland.cbtab.MainActivity" />
        </activity>
        <activity
            android:name="at.haugland.cbtab.HistoryActivity"
            android:label="@string/title_activity_history"
            android:parentActivityName="at.haugland.cbtab.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.haugland.cbtab.MainActivity" />
        </activity>
        <activity
            android:name="at.haugland.cbtab.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="at.haugland.cbtab.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.haugland.cbtab.MainActivity" />
        </activity>
    </application>

</manifest>
